.u-triangle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 8px solid #3aafae;
    transform: translateY(-50%);
  }